{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Technovate 2020</title>
  <link rel = "icon" href ="{% static 'gallery/logo.png' %}" type = "image/x-icon"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'Events/background.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'Events/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<!--
  Please note: this code is in no way ready to be used as is in production on your website. It will need to be adapted to be cross browser compliant & accessible. I just wanted to share how one might go about this effect with CSS & JS and no other dependencies
-->

<nav style="margin:0; background:transparent; color:white; font-size: 1em;
          font-weight: 400;
          letter-spacing: 0em;
          text-transform: uppercase; 
          border-bottom: 1px solid white; font-family: Cutive Mono, monospace;"
         
        class="navbar navbar-inverse navbar-trans ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white;" href="{% url 'Home:index' %}">Technovate 2020</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="color:white;" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'Home:index' %}">Home</a></li>
        <li class="active"><a href="{% url 'Events:index' %}">Events</a></li>
        <li><a href="{% url 'celeb_night:index' %}">Celebrity Night</a></li>
        <li><a href="{% url 'PreEvents:index' %}">Pre-Events</a></li>
        <li><a href="{% url 'gallery:index' %}">Gallery</a></li>
        <li><a href="{% url 'ContactUs:index' %}">Contact Us</a></li>
        <li><a href="{% url 'sponsors:index' %}">Sponsors</a></li>
        <li><a href="{% url 'AboutUs:index' %}">About Us</a></li>
      </ul>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<div style="padding: 0;margin: 0; z-index: -100000; position: relative; top:0; overflow: hidden" id='stars'></div>
<div style="padding: 0;margin: 0; z-index: -100000; position: relative; top:0; overflow: hidden" id='stars2'></div>
<div style="padding: 0;margin: 0; z-index: -100000; position: relative; top:0; overflow: hidden" id='stars3'></div>

<div class="container" style="">
  <div class="card-column column-0">
    <div class="card card-color-0" onclick="location.href = '{% url 'Events:technical' %}' ">
      <div class="border"></div>
      <img src="{% static 'Events/img/technical.jpg' %}" />
      <h1 style="position: relative; top:60px;">Technical<br>Events</h1>
    </div>

    <div class="card card-color-3" onclick="location.href = '{% url 'Events:informal' %}'">
      <div class="border"></div>
      <img src="{% static 'Events/img/informal.jpg' %}" />
      <h1 style="position: relative; top:60px;">Informal <br> Events</h1>
    </div>
  </div>
  <div class="card-column column-1">
    <div class="card card-color-1" onclick="location.href = '{% url 'Events:cultural' %}'">
      <div class="border"></div>
      <img src="{% static 'Events/img/cultural.jpg' %}" />
      <h1 style="position: relative; top:60px;">Cultural<br> Events</h1>
    </div>
  </div>
</div>

<!-- footer  -->
<nav style="margin:0; background:rgba(0,0,0,0.8); color:white; font-size: 1em;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: uppercase;
  font-family: Cutive Mono, monospace;" class="navbar navbar-fixed-bottom navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
 
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="navbar-nav navs">
        <li><a href="https://www.instagram.com/technovate_iiitnr"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/technovate.iiitnr"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/company/technovate_iiitnr"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.twitter.com/technovateiiit"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/TechnovateIIITNayaRaipur"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>

    </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="color:white;" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'game:index' %}">Bored?</a></li>
        <li><a href="{% url 'hospitality:index' %}">Hospitality</a></li>
        <li><a href="{% url 'sponsors:previous' %}">Previous Sponsors</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end footer  -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script  src="{% static 'Events/script.js' %}"></script>

</body>
</html>
