#hosp{

    font-family: sans-serif;
    color: blanchedalmond;
    text-align: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin-top: 15%; */
    /* margin-right: 9%; */
    /* float: right; */

    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    z-index: -1000;
    

}
marquee{
    direction:"up";
    height:120px;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient( rgb(0, 0, 0), rgb(100, 100, 100)); 
  height: 200vh;
  background-repeat: no-repeat;
  background-size: 2000px 2000px;
  width: 100%;
  height: 100%;
}

.spaceship {
  position: absolute;
  top: 10px;
  left: 200px;
  width: 100%;
  height: 400px;
  z-index: -10000;

}

  .spaceship-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 225px;
    height: 125px;
    background: #0ebeff;
    border-top-left-radius: 125px; 
    border-top-right-radius: 125px;
  }

    .spaceship-top::before {
      display: block;
      position: absolute;
      content: "";
      top: 15px; 
      left: 22px; 
      width: 185px;  
      height: 100px; 
      border-top-left-radius: 210px; 
      border-top-right-radius: 210px;
      background: #76daff; 
    }

    .spaceship-top::after {
      position: absolute;
      display: block;
      content: "";
      top: 28px;
      left: 165px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: white;
    }

  .spaceship-bottom {
    position: absolute;
    width: 225px; 
    height: 50px;
    top: 75px;  
    left: -27px;  
    border-bottom: solid 50px #5c689c;
    border-left: solid 27px transparent;
    border-right: solid 27px transparent;  
  }

    .spaceship-bottom::before {
      position: absolute;
      display: block;
      content: "";
      width: 18px;
      height: 18px;
      top: 65px;  
      left: 20px; 
      border-radius: 100%;
      background: yellow;
    }

    .circle {
      position: absolute;
      display: block;
      content: "";
      width: 18px;
      height: 18px;
      top: 65px;  
      left: 105px;  
      border-radius: 100%;
      background: yellow;
    }

    .spaceship-bottom::after {
      position: absolute;
      display: block;
      content: "";
      width: 18px;
      height: 18px;
      top: 65px;  
      right: 20px; 
      border-radius: 100%;
      background: yellow;
    }

@keyframes light {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.light-perspective {
    position: absolute;
    width: 550px; 
    height: 300px;
    top: 185px;  
    left: 65px;  
    background-image: linear-gradient(white, transparent);
    -webkit-clip-path: polygon(20% 0, 0 100%, 95% 100%, 70% 0);
    -moz-clip-path: polygon(20% 0, 0 100%, 95% 100%, 70% 0);
    -o-clip-path: polygon(20% 0, 0 100%, 95% 100%, 70% 0);
    clip-path: polygon(20% 0, 0 100%, 95% 100%, 70% 0);
    animation: light 5s infinite;
  }

@keyframes fly{
  0% {
    top: -60px;
    opacity: 1;
  }
  100% {
    top: -300px; 
    opacity: 0;
  }
}

.adipose {
  position: relative;
  animation: fly 5s infinite;
}

.body {
  position: absolute;
  background-color: rgb( 170, 170, 170 );
  top: 475px;
  left: 250px;
  width: 100px; 
  height: 125px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: inset 0 -4px 2px 2px rgb(83, 82, 82);
  z-index: 3;
}


.left-eye {
  position: absolute;
  top: 24px;
  left: 25px;
  width: 10px;
  height: 10px;
  background-image: radial-gradient( rgba(0, 0, 0, 0.3), black);
  border-radius: 100%;
  box-shadow: 0 0 1px 1px hsl(0, 2%, 31%),
              0 0 2px 2px hsl(0, 2%, 33%),
              0 0 3px 3px hsl(0, 2%, 36%),
              1px -1px 5px 0 hsl(0, 1%, 40%),
              2px -2px 10px 10px hsl(0, 1%, 45%),
              3px -3px 15px 15px hsl(0, 1%, 47%);
              
}

.right-eye {
  position: absolute;
  top: 24px;
  right: 25px;
  width: 10px;
  height: 10px;
  background-image: radial-gradient( rgba(0, 0, 0, 0.3), black);
  border-radius: 100%;
  box-shadow: 0 0 1px 1px hsl(0, 2%, 31%),
              0 0 2px 2px hsl(0, 2%, 33%),
              0 0 3px 3px hsl(0, 2%, 36%),
              -1px -1px 5px 0 hsl(0, 1%, 40%),
              -2px -2px 10px 10px hsl(0, 1%, 45%),
              -3px -3px 15px 15px hsl(0, 1%, 47%);
}

  .eye-white {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 2.5px;
    height: 2.5px;
    background: white;
    border-radius: 100%;
  }

.mouth {
  position: absolute;
  top: 50px;
  left: 35px; 
  width: 25px;
  height: 2px;
  border-radius: 100000%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: rgb(26, 25, 25);
  transform: rotate(2deg); 
  box-shadow: 1px 1px 1px 1px rgb(150, 104, 112),
              -1px -1px 1px 1px rgb(150, 104, 112);

}

  .mouth::before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    right: 6px;
    border: solid 3px transparent;
    border-top: solid 3px whitesmoke;
  }

.left-hand {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 12.5px;
  top: 542.5px;
  left: 225px;;
  border-bottom-left-radius: 80%;
  border-top-left-radius: 20%;
  transform: rotate(-60deg);
  background: rgb( 170, 170, 170 );
}

@keyframes shakeHand {
  0% {
    
    transform: rotate(60deg);
  }
  50% {
    top: 541px;
    left: 340px;
    transform: rotate(20deg);
  }
  100% {
    
    transform: rotate(60deg);
  }
}

.right-hand {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 12.5px;
  top: 542.5px;
  left:330px;
  border-bottom-right-radius: 80%;
  border-top-right-radius: 20%;
  transform: rotate(60deg);
  background: rgb( 170, 170, 170 );
  animation: shakeHand 2s infinite;
}

.left-foot{
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 10px;
  top: 598px;
  left: 270px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: rgb( 170, 170, 170 );
  z-index: 1;
}

.right-foot{
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 10px;
  top: 598px;
  left: 310px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: rgb( 170, 170, 170 );
  z-index: 1;
}


.navs{
  padding:0;
  margin:10px 10px 0px 10px;
}
.navs>li{
  padding:10px;
  text-decoration: none;
  color:white;
  display: inline;
}
.navs>li>a{
  font-size: 25px;
}

.nav>li{
  /* border-left:1px solid white; */
  font-size:18px;
}