{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Technovate 2020</title>
  <link rel = "icon" href ="{% static 'gallery/logo.png' %}" type = "image/x-icon"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'Error404/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="svgContainer"></div>
<!-- partial -->
  <script src= "{% static 'Error404/gxrrye.js' %}"></script>
<script src= "{% static 'Error404/oemmwo.js' %}" ></script>
<script  src="{% static 'Error404/script.js' %}" ></script>

</body>
</html>