{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Technovate 2020</title>
  <link rel = "icon" href ="{% static 'gallery/logo.png' %}" type = "image/x-icon"> 
  <!-- Bootstrap core CSS -->
  <link href=" {% static 'blogs/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom fonts for this template -->
  {% comment %} <link href="{% static 'blogs/vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css"> {% endcomment %}
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'blogs/css/clean-blog.min.css' %} " rel="stylesheet">
  <style>
    .navs{
      display: block;
      padding:0;
      margin:10px 10px 0px 10px;
    }
    .navs>li{
    padding-right:10px;
    text-decoration: none;
    display: inline-block;
    list-style: none;
    }
    .active{
      background-color: rgb(200,200,200);
      color:black;
    }
  </style>
</head>

<body style=" margin: 0; overflow-x: hidden">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'Home:index' %}">Technovate 2020</a>
    
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive2">
        {% include 'topnavbar.html' %}
      </div>
    </div>
  </nav>

  <nav style="margin:0; background:rgba(255,255,255,0.9);color:black font-size: 1em; font-weight: 400;" 
  class="navbar navbar-fixed-bottom navbar-expand-lg fixed-bottom" id="mainNav2">
    <div class="container-fluid">
 
      <div class="navbar-header">
        {% include 'footmedialinks.html' %}
      </div>
      <button class="navbar-toggler navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% include 'footnavbar.html' %}
      </div>
    </div>
  </nav>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blogs/img/home-bg.jpg' %} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blogs</h1>
            <span class="subheading">by Technovate 2020 </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      {% for blog in blogs %}
        <div class="post-preview">
          <a href="{% url 'blogs:blogindex' blog.id %}">
            <center>
              <div class="col-lg-12">
                <img style="width: 90%;" src="{{blog.blog_image.url}} "  alt="">
              </div>
            </center>
            <h2 class="post-title">
              {{blog.blog_title}}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="{{blog.author_profile_link}}">{{blog.author_name}}</a>
            on {{blog.post_date}}</p>
        </div>
        <hr>
        <br>
      {% endfor %}

      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Technovate 2020</p>
        </div>
      </div>
    </div>
  </footer>
<br>
<br>
<br>
<br>
<br>
<br>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'blogs/vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'blogs/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'blogs/js/clean-blog.min.js' %}"></script>
<script>
  var li = document.getElementById("navBlogs");
  li.classList.add("active");
</script>
</body>

</html>
