<ul class="nav navbar-nav navbar-right ml-auto">
    <li class="nav-item" id="navGame"><a class="nav-link" href="{% url 'game:index' %}">Bored?</a></li>
    <li class="nav-item" id="idAboutUs"><a class="nav-link" href="{% url 'AboutUs:index' %}">About Us</a></li>
    <li class="nav-item" id="navHospitality"><a class="nav-link" href="{% url 'hospitality:index' %}">Hospitality</a></li>
    <li class="nav-item" id="navPrevious"><a class="nav-link" href="{% url 'sponsors:previous' %}">Previous Sponsors</a></li>
</ul>