<ul class="nav navbar-nav navbar-right ml-auto">
    <li class="nav-item" id="idHome"><a class="nav-link" href="{% url 'Home:index' %}">Home</a></li>
    <li class="nav-item" id="idEvents"><a class="nav-link" href="{% url 'Events:index' %}">Events</a></li>
    <li class="nav-item" id="idCeleb_Night"><a class="nav-link" href="{% url 'celeb_night:index' %}">Celebrity Night</a></li>
    <li class="nav-item" id="idPreEvents"><a class="nav-link" href="{% url 'PreEvents:index' %}">Pre-Events</a></li>
    <li class="nav-item" id="idGallery"><a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a></li>
    <li class="nav-item" id="idContactUs"><a class="nav-link" href="{% url 'ContactUs:index' %}">Contact Us</a></li>
    <li class="nav-item" id="idSponsors"><a class="nav-link" href="{% url 'sponsors:index' %}">Sponsors</a></li>
    <li class="nav-item" id="navBlogs"><a class="nav-link" href="{% url 'blogs:index' %}">Blogs</a></li>
</ul>