<ul class="nav navbar-nav navbar-right">
    <li id="idHome"><a href="{% url 'Home:index' %}">Home</a></li>
    <li id="idEvents"><a href="{% url 'Events:index' %}">Events</a></li>
    <li id="idCeleb_Night"><a href="{% url 'celeb_night:index' %}">Celebrity Night</a></li>
    <li id="idPreEvents"><a href="{% url 'PreEvents:index' %}">Pre-Events</a></li>
    <li id="idGallery"><a href="{% url 'gallery:index' %}">Gallery</a></li>
    <li id="idContactUs"><a href="{% url 'ContactUs:index' %}">Contact Us</a></li>
    <li id="idSponsors"><a href="{% url 'sponsors:index' %}">Sponsors</a></li>
    <li id="idAboutUs"><a href="{% url 'AboutUs:index' %}">About Us</a></li>
</ul>