{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Technovate 2020</title>
  <link rel = "icon" href ="{% static 'gallery/logo.png' %}" type = "image/x-icon"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'InformalEvents/background.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel="stylesheet" href="{% static 'InformalEvents/bootstrap-iso.css' %}">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->

  <link rel="stylesheet" href="{% static 'InformalEvents/style.css' %}">
</head>
<body style="background: #000;">
<!-- partial:index.partial.html -->
<div class="bootstrap-iso" style="overflow: hidden">
<nav style="margin:0; background:transparent; color:black; font-size: 1em;
          font-weight: 400;
          letter-spacing: 0em;
          text-transform: uppercase; 
          border-bottom: 1px solid white; font-family: Cutive Mono, monospace;"
         
        class="navbar navbar-inverse navbar-trans ">
  <div class="container-luid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white;" href="{% url 'Home:index' %}">Technovate 2020</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="color:white; overflow: hidden;" id="bs-example-navbar-collapse-1">
      
      {% include 'topnavbar.html' %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- footer  -->

<nav style="margin:0; background:rgba(0,0,0,0.8); color:white; font-size: 1em;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: uppercase;
  font-family: Cutive Mono, monospace;" class="navbar navbar-fixed-bottom navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->    
    <div class="navbar-headers">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% include 'footmedialinks.html' %}

    </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="color:white;" id="bs-example-navbar-collapse-2">
      {% include 'footnavbar.html' %}
    </div>
  </div>
</nav>

<!-- end footer  -->


</div>

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<div style="padding: 0;margin: 0; z-index: -100000; overflow: hidden;" id='stars'></div>
<div style="padding: 0;margin: 0; z-index: -100000; overflow: hidden;" id='stars2'></div>
<div style="padding: 0;margin: 0; z-index: -100000; overflow: hidden;" id='stars3'></div>
<center><h1 style="color:white">Informal Events</h1></center>
<div class="cards" style="margin-top: -10px; z-index: -1000;">


{% for event in event_list  %}
  <div class="card">
    <img class="card__image" src="{{event.event_logo.url}} " alt="wave" />
    <div class="card-title">
      <a href="javascript:void(0);" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          {{ event.event_name }}
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        {{ event.event_brief_desc }}
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="{% url 'Events:informal_desc' event.id %}" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


</div>
<br><br><br><br><br><br>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script  src="{% static 'InformalEvents/script.js' %}"></script>
<script>
  var li = document.getElementById("idEvents");
  li.classList.add("active");
</script>
</body>
</html>
