{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Technovate</title>
  <link rel = "icon" href ="{% static 'gallery/logo.png' %}" type = "image/x-icon"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Press+Start+2P&amp;display=swap'>
<link rel="stylesheet" href="{% static 'game/style.css' %}"><script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>

<div class="dialogue">
  <div class="dialogue__content">
    <h1>Space Shooter</h1>
    <ul>
      <li>Use the <span class="key key--arrow">&larr;</span> and <span class="key key--arrow">&rarr;</span> keys to move.</li>
      <li>Use <span class="key">spacebar</span> to fire lasers. Only for Desktops, Not for Mobiles.</li>
    </ul>
    <button>Start</button>
  </div>
</div>
<ul class="hud hud--hidden">
  <li class="hud__score">Score: <span>0</span></li>
</ul>
<!-- partial -->
<script  src="{% static 'game/script.js' %}"></script>

</body>
</html>